@use "abstract/globals";

body {
  font-family: "Poppins", sans-serif;
  background-color: #e6e6e6e0;
}

.container {
  //   max-width: 1100px;
  padding: 0 25rem;
}

nav {
  padding: 1.5rem 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand-logo img {
  width: 5rem;
}

.brand-links {
  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: #000;
    padding-left: 1.5rem;
    font-size: 1.3rem;
  }
}

//Hero Section
.hero {
  background: rgb(250, 172, 168);
  background: linear-gradient(
    90deg,
    rgba(250, 172, 168, 1) 0%,
    rgba(221, 214, 243, 0.9862358864773525) 100%
  );
}

.hero {
  display: flex;
  align-items: center;
}

.hero-image img {
  width: 110rem;
}

.hero-description {
  padding: 3.5rem 0;

  .hero-name {
    font-family: "Sen", sans-serif;
    font-size: 1.8rem;
    color: #603601;
    font-weight: 300;
  }

  .hero-title {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 3.3rem;
    padding-top: 1rem;
  }

  .hero-details {
    font-size: 1.3rem;
    color: #4a4a4a;
    padding-top: 1.5rem;
  }

  .hero-btn {
    padding-top: 2rem;

    button {
      border: none;
      color: #ffff;
      background-color: #000;
      padding: 0.7rem 1.6rem;
      font-size: 1.3rem;
      border-radius: 0.625rem;
    }
  }
}

//Services
.serv {
  padding-top: 3rem;

  .services-title > p {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
  }

  .services {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;

    .services-card {

     

      .card img {
        max-width: 20rem;
        border-radius: 0.625rem;

        box-shadow: 0px 16px 27px 5px rgba(0, 0, 0, 0.1);
      }

      .card-1 > img {
        min-width: 20rem;
        height: 20rem;
      }

      .card-2 > img {
        min-width: 20rem;
        height: 20rem;
      }

      .card-3 > img {
        min-width: 20rem;
        height: 20rem;
      }

      .card-title {
        padding-top: 2.5rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }
}

//My Works
.work {
  margin-top: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #eed2db;

  .work-title > p {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
  }

  .work-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 4.5rem;
    row-gap: 1rem;
  }

  .work-card {
    padding-top: 3rem;
    img {
      border-radius: 0.625rem;
      box-shadow: 0px 16px 27px 5px rgba(0, 0, 0, 0.1);
    }
  }

  .work-btn {
    padding-top: 3.5rem;
    text-align: center;

    button {
      border: none;
      color: #ffff;
      background-color: #000;
      padding: 0.7rem 1.6rem;
      font-size: 1.3rem;
      border-radius: 0.625rem;
    }
  }
}

//Partners
.partners {
  padding-top: 3rem;
}
.partners-title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
}

.partners-logo {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  // justify-content: space-between;
}
.img1 > img {
  width: 105rem;
}

.img2 > img {
  padding-right: 1.5rem;
}

.img3 > img {
  width: 85rem;
  padding-right: 1.5rem;
}

.img4 > img {
  width: 95rem;
  padding-right: 1.5rem;
}

.img5 > img {
  width: 60rem;
}

//testimonials

.testimonials {
  background-color: #eed2db;
  padding-top: 3em;

  .testimonial-container {
    display: flex;
    overflow-x: scroll;
  }

  .testimonial-title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    padding-bottom: 3rem;
  }

  .testimony {
    padding-right: 3.5rem;
  }

  .testimonial-card {
    width: 30rem;
    min-width: 30rem;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
    background-color: #ffff;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    // padding-right: 1.5rem;

    p {
      color: #706e6e;
      font-size: 1.1rem;
      text-align: center;
      padding: 0 2rem;
    }

    span {
      color: #7d7d7d
    }

    .quote {
      width: 2.7rem;
      padding-bottom: 2.4rem;
    }

    .profile-picture img {
      padding-top: 2rem;
      width: 10rem;
     height: 12rem;
      border-radius: 50%;
    }

    .card-footer {
      padding-top: 2.5rem;
      text-align: center;
    }
  }


  
}
